@model FilmManagement.Models.FilmViewModel
@{string path = "~/Content/Upload/" + @Model.ImageUrl;}
<div style="float:left; margin:5px;">
    <p>@Model.Title</p>
    <img alt="Produit" src="@Url.Content(path)" width="50" height="50" />
    <p>@Model.Description</p>
    <p>@Model.Genre</p>
    <p>@Html.ActionLink("Details", "Details", new { id = Model.Id })</p>
    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>
</div>

